ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}

Form {
  margin-top: 30px;
}

.description-container {
  text-align: justify;

  div.md-description {
    overflow: auto;
    padding-right: 15px;
    height: 40vh;
  }
}

.company-container {
  p {
    white-space: nowrap;
  }
}
