
ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}

span {
    font-size: 0.8em;
    font-weight: lighter;
}

Form {
    margin-top: 30px
}

.description-container {
  text-align: justify;
}
